Checks:           '*,-fuchsia-default-arguments,-cert-env33-c,-llvm-header-guard,-fuchsia-overloaded-operator,-google-build-using-namespace,-google-global-names-in-headers,-performance-inefficient-string-concatenation,-cert-err58-cpp,-fuchsia-statically-constructed-objects,-fuchsia-multiple-inheritance,-abseil-string-find-startswith'
WarningsAsErrors: '*'
